.columns {
	-webkit-columns: 50px 4 ;
	-moz-columns: 50px 4 ;
	columns: 50px 4 ;
}

.gap {
	-webkit-column-count: 3 ;
	-moz-column-count: 3 ;
	column-count: 3 ;
	
	-webkit-column-gap: 300px ;
	-moz-column-gap: 300px ;
	column-gap: 300px ;
}

.rule {
	-webkit-column-count: 4 ;
	-moz-column-count: 4 ;
	column-count: 4 ;
	
	-webkit-column-rule: 2px solid blue ;
	-moz-column-rule: 2px solid blue ;
	column-rule: 2px solid blue ;
}

.span {
	-webkit-column-count: 4 ;
	-moz-column-count: 4 ;
	column-count: 4 ;
}

.titrespan {
	font-size: 1.5em ;
	font-weight: bold ;
	-webkit-column-span: all ;
	column-span: all ;
}